.task-card {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task-card p {
    margin: 0;
  }
  
  .task-card button {
    margin-right: 5px;
  }
  
  .task-card .edit-mode input[type="text"] {
    margin-right: 10px;
  }

  /*---------- new style --------------------------- */

  /* TaskCard.css */

.task-card {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task-card p {
    margin: 0;
  }
  
  .task-card button {
    margin-right: 5px;
  }
  
  .task-card .edit-mode input[type="text"] {
    margin-right: 10px;
  }
  
  